{% extends 'base.html.twig' %}

{% block title %}Hello ProjectsController!{% endblock %}

{% block body %}

<p>Le nombre de project est actuellement de {{ projects|length }}</p>

<ul>
{% for element in projects %}
        <li>{{ element }}</li>
{% endfor %} 
</ul>

<br>

<p>{{ [projects[0], projects[1], projects[2]]|join(', ', ' et ') }}</p>

{% endblock %}
